<h2 class="alert-info" style="text-align: center;">Modification du user</h2>
Nouveau Nom : {{input value=model.newName}}

<button {{action "save"}} class="btn btn-success">Valider</button>
{{#link-to "user" class="btn btn-danger"}}Annuler{{/link-to}}

