<div class="container border-0">
  <div class="container" style="background-color: #5ca4a2; height: 200%; margin-top: 50px; " >
    <p class="text-center" style=""> Mon app de gestion de contact</p>
  </div>
  {{outlet}}
</div>