<div class="ui container">
  <div class="ui three item menu">
    {{#link-to "index" class="item"}}{{fa-icon "home"}}  Index{{/link-to}}
    {{#link-to "developers" class="item"}}{{fa-icon "user"}}  Developers{{/link-to}}
    {{#link-to "projects" class="item"}}{{fa-icon "archive"}} Projets{{/link-to}}
  </div>
  {{outlet}}
</div>