<h1 class="ui header">Developers</h1>
{{#link-to "developers.new" class="ui orange button"}}
  <i class="ui plus icon"></i>
  Add new developer
{{/link-to}}

{{table-view-developer title="Developper" datas=model}}

{{outlet}}