<h1 class="ui header">Projects</h1>
{{#link-to "projects.new" class="ui orange button"}}
  <i class="ui plus icon"></i>
  Add new project
{{/link-to}}

{{table-view-project title="Project" datas=model}}
{{outlet}}